DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_PORT=3306
DB_NAME=tournament
PORT=5011
ADMIN_USERNAME=SWADHIN MANDAL
ADMIN_PASSWORD=SM@2006
GROUP_LINK=https://chat.whatsapp.com/KrQtBtM3oxwE0znHffPVFc?mode=gi_t